#chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  position: absolute;
  top: 56px;
  right: 0;
  width: 82%;
  height: 100%;
  transition: all 0.4s;
  z-index: -3;
}

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 768px;
  height: fit-content;
  margin-top: 20px;
  padding-bottom: 12rem;
}

.promptBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin-bottom: 3rem;
}

.promptBox:hover .promptEditLogoDiv {
  visibility: visible;
}

.promptEditLogoDiv {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 36px;
  height: 36px;
  margin-right: 1rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.promptEditLogoDiv:hover {
  background: #424242;
}

.promptEditLogoDiv > svg {
  width: 18px;
  height: 18px;
}

.promptContentDiv {
  background-color: #323232d9;
  border-radius: 1.5rem;
  max-width: 537px;
  height: fit-content;
  padding: 15px 20px;
}

.promptContentDiv > p {
  color: #ececec;
  font-size: 16px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.promptEditBox {
  background-color: #424242;
  width: 100%;
  height: fit-content;
  padding: 12px;
  border-radius: 1.5rem;
}

.promptEditBoxContentDiv {
  min-height: fit-content;
  max-height: fit-content;
  margin: 0.5rem;
}

.promptEditBoxContentDiv > textarea {
  color: #ececec;
  background-color: #424242;
  text-wrap: wrap;
  width: 100%;
  min-height: 45px !important;
  max-height: 185px !important;
  resize: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  appearance: none;
  overflow-y: auto;
  border: none;
  outline: none;
  letter-spacing: 0.016rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.promptEditBoxContentDiv > textarea::placeholder {
  color: #b4b4b4;
}

.promptEditBoxContentDiv > textarea::-webkit-scrollbar {
  width: 12px;
}

.promptEditBoxContentDiv > textarea::-webkit-scrollbar-track {
  background: #424242;
}

.promptEditBoxContentDiv > textarea::-webkit-scrollbar-thumb {
  background: #676767;
}

.promptEditBoxActionDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 38px;
}

.promptEditBoxActionDiv > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  font-weight: 0.8rem;
  font-weight: 500;
  width: 71px;
  height: 100%;
  padding: 8px 14px;
  outline: none;
}

#cancelBtn {
  background-color: #212121;
  color: #ececec;
  margin-right: 1rem;
}

#updateBtn {
  background-color: #f9f9f9;
  color: #0d0d0d;
}

/* Response Section */
.aiResponseBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.chatgptLogoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #424242;
  border-radius: 2rem;
  width: 32px;
  height: 32px;
}

.chatgptLogoDiv > svg {
  width: 18px;
  height: 18px;
}

.responseContentDiv {
  color: #ececec;
  width: 712px;
  height: fit-content;
}

/* Prompt Input section */
.promptInputBox {
  background-color: #2f2f2f;
  border-radius: 1.5rem;
  position: fixed;
  bottom: 32px;
  width: 744px;
  height: fit-content;
  padding: 4px 10px;
  transition: all 0.4s;
}

.promptInputContentDiv {
  color: #ececec;
  background-color: #2f2f2f;
  font-size: 1rem;
  text-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 0px 8px;
}

.promptInputContentDiv > textarea {
  color: #ececec;
  background-color: #2f2f2f;
  text-wrap: wrap;
  width: 100%;
  min-height: 40px;
  max-height: 185px;
  resize: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  appearance: none;
  overflow-y: auto;
  border: none;
  outline: none;
  letter-spacing: 0.016rem;
  font-size: 1rem;
  padding-top: 15px;
  font-weight: 400;
}

.promptInputContentDiv > textarea::placeholder {
  color: #b4b4b4;
}

.promptInputContentDiv > textarea::-webkit-scrollbar {
  width: 12px;
}

.promptInputContentDiv > textarea::-webkit-scrollbar-track {
  background: #2f2f2f;
}

.promptInputContentDiv > textarea::-webkit-scrollbar-thumb {
  background: #3c3c3c;
}

.promptActionButtonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
}

.promptActionButtonsDiv button {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

#attachFilesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}

#attachFilesButton > svg {
  width: 24px;
  height: 24px;
}

#attachFilesButton:hover {
  background-color: #2a2a2a;
}

#submitPromptButton {
  background-color: white;
  border-radius: 2rem;
}

#submitPromptButton:hover {
  background-color: #c1c1c1;
}

#submitPromptButton > svg {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b4b4b4;
  background: #212121;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 82%;
  height: 32px;
}
