* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}
