* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #212121;
}

body::-webkit-scrollbar {
  width: 0px;
}

p {
  line-height: 160%;
  letter-spacing: 0.016rem;
  font-size: 0.95426rem;
  font-weight: 400;
}

span {
  line-height: 160%;
  letter-spacing: 0.016rem;
  font-weight: 400;
}
